.exp-text {
    flex-direction: column;
    display: flex;
    color: white;
    font-size: 16pt !important;
    text-align: right;
    padding-left: 25%;
}

.highlight-0be7fb {
    text-shadow: 
      0 0 2px #0be7fb,
      0 0 10px #0be7fb,
      0 0 21px #0be7fb;
    z-index: -1;
}  