.link-big {
    flex-direction: column;
    display: flex;
    font-size: 14pt !important;
    color: white;
    padding-top: 2%;
    z-index: 1;
}

.text {
    flex-direction: column;
    display: flex;
    font-size: 14pt !important;
    color: white;
    padding-top: 2%;
}

.icons {
    height: 50px;
    z-index: 1;
}

.link {
    color: white;
    z-index: 1;
}