.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    font-size: 18pt;
    color: white;
    right: 0;
    margin-right: 16.5%;
    position: fixed;
    z-index: 1;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.list-item {
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

.list-item:hover {
    text-shadow: 
        0 0 2px #0be7fb,
        0 0 10px #0be7fb,
        0 0 21px #0be7fb;
}

.move-fix {
    margin-top: 12%;
}