.parent {
  flex-direction: column;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text {
  justify-content: left !important;
  width: 90%;
}

.p {
  font-size: 16pt !important;
}

.highlight-ff009d {
  text-shadow: 
    0 0 2px #ff009d,
    0 0 10px #ff009d,
    0 0 21px #ff009d;
  z-index: -1;
}

.glow-ring {
  border: 2px solid #035ce2;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #035ce2,
    0 0 20px #035ce2,
    0 0 50px #035ce2,
    0 0 70px #035ce2;
  justify-content: center;
}